Repository apache/kibble: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, consistent-pylint, update-help-in-readme, markdownlint, flynt

Path conditions:
  pylint: any of: \.py$
  consistent-pylint: any of: \.py$
  update-help-in-readme: any of: \.py$
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  flynt: any of: \.py$

fixup! fixup! fixup! fixup! Add Github issues and PRs scanner
  kibble/cli/commands/scanners_command.py
  kibble/data_sources/__init__.py
  kibble/data_sources/base/__init__.py
  kibble/data_sources/base/base_data_source.py
  kibble/data_sources/base/base_data_type.py
  kibble/data_sources/base/data_source_config.py
  kibble/data_sources/base/module_loading.py
  kibble/data_sources/github/__init__.py
  kibble/data_sources/github/data_types/__init__.py
  kibble/data_sources/github/data_types/base.py
  kibble/data_sources/github/data_types/pr_issues.py
  kibble/kibble.yaml
  kibble/scanners/__init__.py
  setup.py
Due: pylint, consistent-pylint, update-help-in-readme, flynt

Add Elasticsearch
  docker-compose.dev.yaml
  docs/architecture.rst
  docs/index.rst
  docs/installation.rst
  kibble/cli/commands/scanners_command.py
  kibble/data_sources/base/base_data_source.py
  kibble/data_sources/base/base_data_type.py
  kibble/data_sources/github/__init__.py
  kibble/data_sources/github/data_types/base.py
  kibble/data_sources/github/data_types/issues.py
  kibble/database/connection.py
  kibble/kibble.yaml
  setup.py
Due: pylint, consistent-pylint, update-help-in-readme, flynt

Update architecture.rst
  docs/architecture.rst
Due: none

Polish in CONTRIBUTING.md
  CONTRIBUTING.md
Due: markdownlint

Polish in CONTRIBUTING.md (#16)
  CONTRIBUTING.md
Due: markdownlint

Polish in pylintrc
  pylintrc
Due: none

Create SECURITY.md
  SECURITY.md
Due: markdownlint

Polish in pylintrc (#17)
  pylintrc
Due: none
